{% extends 'base.html.twig' %}

{% block title %}Taggast | Accueil{% endblock %}

{% block body %}


<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>S'engager<br>Pour les générations futures</h1>
      <h2>Nous agissons.....</h2>
      <a href="#" class="btn btn-success">Album Photos</a>
    </div>
  </section>
{% endblock %}
