{% extends 'base.html.twig' %}

{% block title %} Blog Jstore {% endblock %}

{% block slider %}
    <div class="slider">
        <div class="slider-content">
            <h2>Bienvenue sur le blog Jstore</h2>
            <p>Plusieurs articles publiés chaque jour !</p>
            <a href="https://mudey.fr/programme/formation-complete-developpeur-web-full-stack" target="_blank">
                <button class="btn">consulter</button>
                
            </a>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="articles-infos">
        <strong>{{articles | length}}</strong> articles retrouvés
    </div>
    {% include "_articles_list.html.twig" %}

{% endblock %}
